@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300&display=swap');

body, html {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #1F2937;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.one {
  background-color: #1F2937;
  padding: 110px;
  display: flex;
  justify-content: space-around;
}

img {
  width: auto;
  height: 250px;
  margin-right: 20px;
  border-radius: 10px;
}